<div>
    <%#= @response%>
    <p>role_name: <%= @role_name %></p>
    <p>company_name: <%= @company_name %></p>
    <p>company_type: <%= @company_type %></p>
    <p>company_business: <%= @company_business %></p>
    <p>work_type: <%= @work_type %></p>
    <p>role_url: <%= @role_url %></p>
    <p>company_url: <%= @company_url %></p>
    <p>salary: <%= @salary %></p>
    <p>location: <%= @location %></p>
    <p>technologies: <%= @technologies %></p>
    <p> --------------------------- </p>
    <p> CHECK - HTML Description:  </p>
    <!--<p><%= @job_description_from_json %></p>-->
    <p>location_html : <%= @location_html %>
</div>